* {
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', Courier, monospace;
}
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-container,
.score-container {
  display: flex;
}

button {
  background-color: #fff;
  border: 5px solid #000;
  font-family: 'Courier New', Courier, monospace;
}
button:not(:disabled):hover {
  background-color: #ffd323;
  cursor: pointer;
}

.btn-container {
  padding: 20px 0 30px;
}
.choice-btn {
  width: 300px;
  height: 300px;
  font-size: 40px;
}
.choice-btn:disabled {
  border-color: #979797;
  color: #979797;
}
.choice-btn:not(:last-child) {
  border-right: 0px;
}

#again-btn {
  display: none;
  margin-top: 40px;
  width: 250px;
  height: 60px;
  font-size: 26px;
}

.score-container {
  gap: 60px;
}
.score-container p {
  font-size: 30px;
}

.result {
  padding-top: 20px;
  font-size: 36px;
}